<% if (theme.gitment){ %>
<div id="gitalk-container"></div>
    <script>
       const gitalk = new Gitalk({
  clientID: '3a1b56f27cc225971123',
  clientSecret: '4dd1541cfafbf5a8697de3873ce2c51d097a8326',
  repo: 'thinkmoon.github.io',
  owner: 'thinkmoon',
  admin: ['thinkmoon'],
  labels: ['gitment'],
  id: location.pathname,      // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
})

gitalk.render('gitalk-container')
    </script>
<% } %>
